:root {
    --fuentePrincipal: monospace;
    --fondo: #F4FFFD;
    --colorTexto: #898980;
    --colorDesencriptar: #011936;
    --colorCopiar: #ED254E;
    --colorTerciario: #F9DC5C;
    --colorTextoBoton: #465362;
    --colorEncriptar: #0C7C59;
}

body {
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
    background-color: var(--fondo);
}

.encabezado {
    margin: 3%;
}

.logo {
    width: 1rem;
}

.seccion {
    display: flex;
    align-items: center;
    margin: 0 10%;
    flex-wrap: wrap;
  

    /* justify-content: space-around; */
}

.ingresarTexto {
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.campoTexto {
    width: 50%;
    height: 450px;
    display: flex;
  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.espacioDeTexto {
    width: 70%;
    height: 300px;
    background-color: #1e1e1e;
    color: var(--colorTerciario);
    /* color: #00ff00; */
    /* font-family: var(--fuentePrincipal); */
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    outline: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    text-transform: lowercase;
}

.espacioDeTexto_imagen {
    width: 70%;
    height: 300px;
    background: var(--colorTexto);
    background-image: url(img/busca.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    outline: none;
    /* margin-bottom: 70px; */
    text-transform: lowercase;
    
    color: var(--colorTerciario);
    /* align-items: center; */
}

.espacioDeTexto:focus {
    box-shadow: 0 0 10px var(--colorTerciario);
}

.camposAdmitidos {
    font-size: 0.8rem;
    color: var(--colorTexto);

}


.botones {
    display: flex;
    width: 100%;
    font-size: 1rem;
    justify-content: space-around;
    /* text-align: center; */
    flex-wrap: wrap;
 
}
.boton {
    text-decoration: none;
    width: 15vw;
    padding: 10px 20px;
    border: 2px solid var(--colorTexto);
    border-radius: 5px;
    color: var(--fondo);
    font-size: 1em;
    flex-wrap: wrap;
    /* text-align: center; */
}

.boton.boton:hover {
    background-color: var(--colorTerciario);
    padding: 11px 21px;
    color: var(--colorTextoBoton);
}

.encriptar {
    background-color: var(--colorEncriptar);
    font-size: 1rem;
    text-align: center;
}

.desencriptar {
    background-color: var(--colorDesencriptar);
    font-size: 1rem;
    text-align: center;
}

.contacto {
    background-color: var(--colorTextoBoton);
    color: var(--fondo);
    margin-top: 30px;
    padding: 20px;
    display: flex;

}

.linkRedes {
    text-decoration: none;
    color: var(--fondo);
    margin-left: 20px;
    align-content: center;
}

.noHayMensaje {
    color: var(--colorTexto);
    font-size: 1rem;
    margin: 0;

}

.indicacion {
    color: var(--colorTexto);
    margin: 0;
    font-size: 1rem;



}

.copiar {
    background-color: var(--colorCopiar);
}



.imagen:focus {
    box-shadow: none;
}




@media screen and (max-width: 768px) {
    
    .ingresarTexto {
        width: 100%;
    }
    .boton {
        width: 40%;
        gap: 15px;
       
    }

    .campoTexto {
        gap: 15px;
        margin-top: 30px;
        width: 100%;
    }

    .copiar {
        width: 150%;
    }

    .contacto{
        justify-content: center;
    }
}

@media screen and (max-width:375px) {
    .seccion {
        margin:0 ;
    }
    .ingresarTexto {
        width: 100%;
        text-align: center;
    }
    .espacioDeTexto {
        width: 90%;
    }

    .boton {
        width: 40%;
    }
    .espacioDeTexto_imagen{
        width: 100%;
        
    }
    .copiar{
        width: 100%;
    }

    .contacto {
        font-size: 0.5rem;
    }
}